.portrait {
    height: 30px;
    width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.hc-fail {
    margin-left: 3px !important;
}

.qualification {
    height: 30px;
    width: auto;
}

#datas img:hover {
    cursor:pointer;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px !important;
}

.modal-img {
    width: 800px;
    height: 790px;
}